*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
     height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5a189a !important;
    color: white;
    font-weight: bold;
    
}

.header nav{
    width: 80%;
  margin-top: 1em;
}

.header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    margin-left: 15em;
    margin-top: -4em;
}

.header nav ul li{
    list-style: none;
    margin: 5px 10px;
    width: 30%;
    font-size: 1.2em;
    cursor: pointer;
}

.header nav ul li:hover{
    text-decoration: underline;
}

.logo{
    width: 100px;
    height: 80px;
    /* margin-right: 10px; */
   
}

.darkModeBtn{
    float: right;
    margin-top: -2.8em;
    margin-right: 10em;
  }
  

.getBtn{
    float: right;
    margin-top: -4em;
    margin-bottom: 1em;
    padding: 10px 40px;
    border-radius: 2em;
    border:  2px solid  #fff;
    color: #fff;
    background-color: #5a189a;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}


.getBtn:hover{
    background-color: #fff;
    color: #5a189a;
    font-weight: bold;
}

@media all and (max-width: 1024px){
    .header nav ul{
        margin-left: 5em;
    }

}

@media all and (max-width: 640px){
  .logo{
    margin-left: -2em;
  }

  .getBtn{
    margin-top: -9em;
  }

  .darkModeBtn{
    font-size: 2em;
  }
}

/* main */

section.main{
    width: 75%;
}

.main{
    margin-left: 15em;
    margin-top: 13em;
    width: 90%;
    height: 90%;
}

.main h1{
    width: 40%;
    margin-left: 3em;
}

.main p{
    width: 40%;
    margin-left: 5.5em;
}

.main img{
    float: right;
    margin-top: -18em;
    margin-right: -5em;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    width: 100%;
    height: 100%;
}

.contact-form{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.contact-form form input{
    outline: none;
    border-radius: 0.3em;
}

.sendBtn{
        float: center;
        padding: 10px 40px;
        border:  2px solid  #5a189a;
        border-radius: 2em;
        font-weight: bold;
        cursor: pointer;
        background-color: #5a189a;
        color: #fff;
    
}

.sendBtn:hover{
    background-color: #fff;
    color: #5a189a;
    font-weight: bold;
}

#theme-toggle{
    margin-left: 3em;
    margin-right: 1em;
  }

  
.dark{
    background-color: #1c1c1c;
    color: white;

    .contact-form{
        color: black;
    }
}
@media all and (max-width: 640px){
  .main{
    float: left;
    width: 100%;
    margin: 0;
  }

  .main h1{
    width: 100%;
    margin-top: 5em;
  }

  .main p{
    width: 100%;
    margin-top: 1em;
  }
}


@media all and (max-width: 1024px){
    .main img{
        margin-right: -5em;
    }

    .contact-form{
        width: 90%;
    }
}

@media all and (max-width: 640px){

    #menuToggle
    {
      display: block;
      position: relative;
      top: 5em;
      z-index: 1;
      user-select: none;
    }
    
    #menuToggle li
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle li:hover
    {
      color: #5a189a;
    }
    
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; 
      z-index: 2; 
      
      -webkit-touch-callout: none;
    }
    
    #menuToggle span
    {
      display: block;
      margin-top: -1.2em;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
      
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
      
    }
    
    
    
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    
    #menu
    {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
    }