*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5a189a !important;
    color: white;
    font-weight: bold;
    
}

.header nav{
    width: 80%;
 
}

.header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    margin-left: 13em;
    margin-top: -4em;
}

.header nav ul li{
    list-style: none;
    margin: 5px 10px;
    width: 30%;
    font-size: 1.2em;
    cursor: pointer;
}

.header nav ul li:hover{
    text-decoration: underline;
}

.logo{
    width: 100px;
    height: 80px;
    /* margin-right: 10px; */
   
}

.getBtn{
    float: right;
    margin-top: -4em;
    margin-bottom: 1em;
    padding: 10px 40px;
    border-radius: 2em;
    border:  2px solid  #fff;
    color: #fff;
    background-color: #5a189a;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}


.getBtn:hover{
    background-color: #fff;
    color: #5a189a;
    font-weight: bold;
}

#theme-toggle{
  margin-left: 3em;
  margin-right: 1em;
}

.darkModeBtn{
  float: right;
  margin-top: -2.8em;
  margin-right: 10em;
}



@media all and (max-width: 1024px){
 
    .header nav ul{
        margin-left: 5em;
    }

}

@media all and (max-width: 640px){
  .getBtn{
    width: 60%;
    margin-right: 9em;
    margin-top: -4em;
  }

  .logo{
    margin-top: 1em;
    margin-left: 10em;
  }

  .darkModeBtn{
    margin-top: -2.5em;
    margin-right: 0;
    font-size: 1.5em !important;
  }
}

/* main section */

main{
    width: 100%;
    height: 100%;
}

.headings{
    display: flex;
    flex-direction: column;
    margin-top: 8em;
    margin-left: 12em;
}

.headings h1{
    font-size: 2.5em;
    margin-bottom: 1em;
}

.headings p{
    margin-bottom: 1em;
    width: 40%;
    font-size: 1.2em;
}

.mainImg{
   float: right;
   margin-right: 8em;
   height: 500px;
   width: 500px;
   margin-bottom: 5em;
   margin-top: -30em;
}

.contactBtn, .getStartedBtn{
    padding: 10px 20px;
    border: 2px solid #5a189a;
    border-radius: 1em;
    margin-right: 1em;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.contactBtn:hover, .getStartedBtn:hover{
    background-color: #5a189a;
    color: #fff;
}

@media all and (max-width: 1024px){
  .headings{
    margin-left: 5em;
    
  }

  .headings h1{
    font-size: 2em;
  }

  .headings p{
    font-size: 1em;
    
}

  .headings img{
    margin-right: 3em;
    height: 450px;
    width: 450px;
    margin-top: -28em;
  }

}

@media all and (max-width: 640px){
  .headings h1{
   margin-left: -1em;
   font-size: 1.8em;
  }

  .headings p{
    width: 100%;
    float: left;
    margin-left: -1.8em;
  }

  .mainImg{
    margin-top: 3em !important;
    height: 400px !important;
  }

  .contactBtn{
    margin-left: -2em;
  
  }
 }

 /* section2 */
@media all and (max-width: 640px){
  
  .section2 h2{
    font-size: 1.8em;
    margin-left: 1em;
  }

  .section2 p{
    width: 80%;
    float: left;
    margin-left: 1.5em;
    
  }

  .icons {
    float: left;
    width: 100%;
    height: 1000px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
   
  }
  .icons div{
    margin-top: 0.5em;
    margin-left: 0.5em;
  } 

 

}

@media all and (max-width: 1024px){
  .icons div{
    margin-right: 1em;
  }

  .world{
    margin-left: 1em;
  }
}

/* section3 */
#works{
  float: left;
  
 }

.slider{
    position: relative;
    max-width: 40rem;
    height: 27em; 
    margin: 0 auto;
    overflow: hidden;
  }

  .slide{
    position: absolute;
    top:  0;
    width: 100%;
    
    height: 32em; 
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .slide img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }

  .btnSlide{
    border-radius: 15em;
    border: none;
    width: 2%;
  }

  .btnSlide .fa-solid{
    color: white;
    font-size: 2em;
  }

  .btnSlide{
    position: absolute;
    top: 50%;
    z-index: 10;
    height: 4em;
    width: 4em;
    cursor: pointer;
  }

  .btnPrev{
    left: 2.5rem;
    transform: translate(-50%, -50%);
    
  }

  .btnNext{
    left: 33.5em;
    transform: translate(50%, -50%);
  }

  .dotContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .dot{
    width: 25px;
    height: 5px;
    margin: 15px 5px;
    border-radius: 1em;
    background: rgba(39,39,39, .5);
    cursor: pointer;
  }

  .dot.active{
    background:#272727;
}

@media all and (max-width: 1024px){
  .works{
    margin-right: 0 !important;
  }
  .para{
    width: 40%;
    margin-top: -2em;
    margin-left: 35em;
  }
}


@media all and (max-width: 640px){
  .section3 {
    float: left;
    width: 100%;
    
  }

  .slider{
   float: left;
   width: 100%;
  }

  .section3 .span{
    margin-left: 1em;
    margin-top: -5em;
  }

  .works{
    width: 90% !important;
    margin-left: 0.5em !important;
    margin-right: 0 !important;
  }

  .para{
    width: 80%;
    margin-top: 0 !important;
    margin-left: 1em;
  }
  
}

    
@media all and (max-width: 640px){
  .slide{
    margin-top: -5em;
  }

  .slider{
    float: left;
    margin-left: 1em;
    width: 90%;
    
  }

  .slide img{
    height: 400px ;
    
  }

  .dotContainer{
    float: left;
    width: 100%;
    margin-top: -2em;
  }

  .btnNext{
    left: 15em ;
  }
}

/* progress */

.progress{
height: 40em;
}

.work{
  margin-top: -31em;
}


.inform{
  margin-top: -17em;
  margin-right: 24.5em;
}

.research p{
  margin-left: 3em;
}

.design{
  margin-top: 4em;
}
  
.testing{
  float: right;
  margin-right: -22em;
  margin-top: -16em;
}

.delivering{
  float: right;
  margin-right: -23em;
  margin-top: -5em;
}

@media all and (min-width: 1024px){
  .progress img{
    margin-left: 1em;
  }

  .work{
    margin-right: 0 !important;
  
  }

  .inform{
    margin-right: 17em !important;
  }

  .design p{
    width: 60%;
  }
  .delivering{
    margin-top: -8em;
    margin-right: -15em !important;
  }

   .testing{
    margin-top: -18em;
    margin-right: -15em !important;
  }

}

@media all and (max-width: 640px){
  .progress{
    float: left;
    width: 100%;
    height: 100%;
  }

  .progress img{
    float: left;
    width: 90%;
    margin-left: 1em;
    height: 80%;
  }

  .work{
    float: left;
    width: 90%;
    margin-top: 4em;
    margin-right: 1em !important;
  
  }

  .inform{
    float: left !important;
    width: 100%;
    height: 100%;
    margin-top: 5em;
    margin-left: 1em;
  }

  .testing{
    margin-left: 0;
    
    float: left;
    margin-top: 12em;
    margin-bottom: 5em;
  }

  .delivering{
    float: left;
   
    margin-top: 4em;
    
  }

  .design, .research{
    width: 80%;
  }
}


.dark{
  background-color: #1c1c1c !important;
  color: white;
 
  .contactBtn, .getStartedBtn{
    color: #1c1c1c;
  } 

  .contactBtn:hover, .getStartedBtn:hover{
    color: white;
  } 
  
   .section2 h2{
    color: #1c1c1c;
  } 
  footer, .sect{
    background-color: #1c1c1c;
  }
}
@media all and (max-width: 640px){

#menuToggle
{
  display: block;
  position: relative;
  top: 5em;
  z-index: 1;
  user-select: none;
}

#menuToggle li
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle li:hover
{
  color: #5a189a;
}



#menuToggle input
{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  margin-top: -1.2em;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
  
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
  
}



#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
}


